<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AddYBorders</key>
    <string>NO</string>
    <key>AltIsNotMeta</key>
    <string>NO</string>
    <key>BoldTerminalFont</key>
    <string>DejaVu Serif-Bold</string>
    <key>BoldTerminalFontSize</key>
    <real>16</real>
    <key>CommandAsMeta</key>
    <string>NO</string>
    <key>CursorColorA</key>
    <real>1</real>
    <key>CursorColorB</key>
    <real>1</real>
    <key>CursorColorG</key>
    <real>1</real>
    <key>CursorColorR</key>
    <real>1</real>
    <key>CursorStyle</key>
    <integer>0</integer>
    <key>DoubleEscape</key>
    <string>NO</string>
    <key>Linux_CharacterSet</key>
    <string>utf-8</string>
    <key>LoginShell</key>
    <string>NO</string>
    <key>NSWindow Frame Preferences</key>
    <string>394 91 410 433 0 0  1920 1080 </string>
    <key>ScrollBackLines</key>
    <integer>256</integer>
    <key>Shell</key>
    <string>/bin/bash</string>
    <key>TerminalFont</key>
    <string>DejaVu Sans Mono</string>
    <key>TerminalFontSize</key>
    <real>16</real>
    <key>UseMultiCellGlyphs</key>
    <string>NO</string>
    <key>WindowCloseBehavior</key>
    <integer>0</integer>
    <key>WindowHeight</key>
    <integer>25</integer>
    <key>WindowWidth</key>
    <integer>80</integer>
</dict>
</plist>